@import url('../../../global.css');

.view-popup{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.8);
}
.view-popup .content{
    border-radius: var(--border-radius-2);
    width: 30rem;
    min-height: 80vh;
    background: var(--color-light);
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.view-popup .content .top-section{
    width: 100%;
    height: 3%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--color-primary);
}
.view-popup .content .top-section h2{
    color: var(--color-white);
    margin-left: 1rem;
}
.view-popup .content .top-section svg{
    color: var(--color-dark);
    width: 2.5rem;
    height: 2.5rem;
}
.view-popup .content .top-section svg:hover{
    color: var(--color-black);
}
.view-popup .content .data-section{
    width: 90%;
    height: 97%;
    color: var(--color-dark-variant);
    display: flex;
    flex-direction: column;
}
.view-popup .content .data-section .input{
    margin-bottom: 0rem;
    width: 100%;
    height: 6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
}
.view-popup .content .data-section .input input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--color-info-dark);
    width: 100%;
    height: 100%;
    background: none;
    outline: none;
    color: var(--color-info-dark);
    font-size: 1.2rem;
}
.view-popup .content .data-section .input p{
    color: var(--color-primary);
    font-size: 1rem;
}
.view-popup .content .data-section .input span{
    color: var(--color-danger);
    font-size: .7rem;
    margin-bottom: 1rem;
}
.view-popup .content .data-section .btn{
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.view-popup .content .data-section .btn input[type=button],input[type=submit]{
    width: 45%;
    
    outline: none;
    background: none;
    border-radius: var(--border-radius-1);
    font-size: 1rem;
}
.view-popup .content .data-section .btn input[type=button]{
    height: 85%;
    color: var(--color-danger);
    border: 1px solid var(--color-danger);
    border-radius: var(--border-radius-1);
}
.view-popup .content .data-section .btn input[type=button]:hover{
    color: var(--color-white);
    background: var(--color-danger);
}
.view-popup .content .data-section .btn input[type=submit]{
    margin: 0;
    height: 85%;
    width: 100%;
    color: var(--color-white);
    background: var(--color-primary);
    border-radius: var(--border-radius-1);
}
.view-popup .content .data-section .btn input[type=submit]:hover{
    background: var(--color-primary-3);
}