@import url('../../global.css');

.borrower-details{
    width: 80vw;
    height: 100vh;
}
.borrower-details section{
    margin: 1rem 0rem 0rem 1rem;
    width: 100%;
    height: 95%;
  }
  .borrower-details section .top h1{
    font-size: 1.9rem;
    color: var(--color-white);
  }
  .borrower-details section .top{
    width: 95%;
    height: 10%;
    border-radius: var(--border-radius-1);
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .borrower-details section .top input{
    margin-left: .5rem;
    font-size: 1rem;
    font-weight: 300;
    width: 70%;
    height: 60%;
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    background: none;
    border-radius: var(--border-radius-1);
    transition: all .7s ease;
    text-align: left;
  }
  .borrower-details section input:hover{
    width: 71%;
    outline: none;
  }
  .borrower-details section .top input:focus{
    width: 71%;
    outline: none;
  }
  .borrower-details section .top input::placeholder{
    margin-left: 10px;
    color: var(--color-primary);
  }
  .borrower-details section .top div{
    margin-right: .5rem;
    width: 25%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-white);
    border: 1px dashed var(--color-primary);
    border-radius: var(--border-radius-1);
    transition: all .5s ease;
    background: var(--color-primary);
  }
  .borrower-details section .top div svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  .borrower-details section .top div h3{
    margin-left: .5rem;
    font-weight: 400; 
  }
  .borrower-details section .top div:hover h3{
    font-weight: 500; 
  }
  .borrower-details section .top div:hover{
    background: var(--color-primary-variant);
  }
  .borrower-details section .container{
    margin-top: 0rem;
    width: 95%;
    height: 75%;
    overflow-y: scroll;
    box-shadow: var(--box-shadow-1);
    border-radius: var(--border-radius-2);
    background: var(--color-light);

  }
  .borrower-details section .container::-webkit-scrollbar{
    display: none;
  }
  .borrower-details section .container .table-section table{
    width: 100%;
  }
  .borrower-details section .container .table-section table thead{
    width: 100%;
    height: 3.5rem;
    font-size: 1rem;
    color: var(--color-white);
    /*background: var(--color-blue-shade);*/
  }
  .borrower-details section .container .table-section table tbody{
    width: 100%;
    height: 100%;
  }
  .borrower-details section .container .table-section table tbody tr{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    color: var(--color-dark-variant);
    transition: all .1s ease;
  }
  .borrower-details section .container .table-section table tbody tr:hover{
    color: var(--color-white);
  }
  .borrower-details section .container .table-section table tbody tr td{
    border-bottom: 1px solid var(--color-dark-variant);
    text-align: center;
    border-bottom: 1px solid var(--color-dark-variant);
  }
  .borrower-details section .container .table-section table tbody tr:first-child td{
    border-top: 1px solid var(--color-dark-variant);
  }
  .borrower-details section .container .table-section table tbody tr td svg{
    width: 2.3rem;
    height: 2.2rem;
    color: var(--color-primary);
  }
  .borrower-details section .container .table-section table tbody tr td svg:hover{
    width: 2.5rem;
    height: 2.4rem;
  }
