@import url('../../global.css');

.item-details{
    width: 80vw;
    height: 100vh;
}
.item-details section{
    margin: 1rem 0rem 0rem 1rem;
    width: 100%;
    height: 95%;
  }
  .item-details section h1{
    font-size: 1.9rem;
    color: var(--color-white);
  }
  .item-details section .top{
    width: 95%;
    height: 10%;
    border-radius: var(--border-radius-1);
    background: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: .8rem;
  }
  .item-details section .top input{
    margin-left: .5rem;
    font-size: 1rem;
    font-weight: 300;
    width: 70%;
    height: 60%;
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    background: none;
    border-radius: var(--border-radius-1);
    transition: all .7s ease;
    text-align: left;
  }
  .item-details section input:hover{
    width: 71%;
    outline: none;
  }
  .item-details section .top input:focus{
    width: 71%;
    outline: none;
  }
  .item-details section .top input::placeholder{
    margin-left: 10px;
    color: var(--color-primary);
  }
  .item-details section .top .brand-icon{
    width: 10%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-warning);
    border: 1px dashed var(--color-warning);
    border-radius: var(--border-radius-1);
    transition: all .3s ease;
  }
  .item-details section .top .brand-icon:hover h3{
    color: var(--color-white);
  }
  .item-details section .top .brand-icon:hover svg{
    color: var(--color-white);
  }
  .item-details section .top .brand-icon:hover{
    color: var(--color-white);
    border: 1px solid var(--color-warning);
    background: var(--color-warning);
  }
  .item-details section .top div{
    width: 10%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-primary);
    border: 1px dashed var(--color-primary);
    border-radius: var(--border-radius-1);
    transition: all .3s ease;
  }
  .item-details section .top div svg{
    width: 1.5rem;
    height: 1.5rem;
  }
  .item-details section .top div h3{
    margin-left: .5rem;
    font-weight: 400; 
  }
  .item-details section .top div:hover h3{
    color: var(--color-white);
  }
  .item-details section .top div:hover svg{
    color: var(--color-white);
  }
  .item-details section .top div:hover{
    color: var(--color-white);
    border: 1px solid var(--color-primary);
    background: var(--color-primary);
  }
  .item-details section .top div:last-child{
    margin-right: .5rem;
    width: 5%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-success-2);
    border: 1px dashed var(--color-success-2);
    transition: all .3s ease;
  }
  .item-details section .top div:hover svg{
    color: var(--color-white);
  }
  .item-details section .top div:last-child:hover{
    color: var(--color-white);
    border: 1px solid var(--color-success-2);
    background: var(--color-success-2);
  }
  .item-details section .container{
    width: 95%;
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .item-details section .container .table-section{
    margin-top: 1rem;
    width: 81%;
    height: 100%;
    overflow-y: scroll;
    box-shadow: var(--box-shadow-1);
    border-radius: var(--border-radius-2);
    background: var(--color-light);
  }
  .item-details section .container .table-section::-webkit-scrollbar{
    display: none;
  }
  .item-details section .container .table-section table{
    width: 100%;
  }
  .item-details section .container .table-section table thead{
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    color: var(--color-white);
    background: #5058a0f3; ; 
  }
  .item-details section .container .table-section table tbody{
    width: 100%;
    height: 100%;
  }
  .item-details section .container .table-section table tbody tr{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    color: var(--color-dark-variant);
    transition: all .1s ease;
  }
  .item-details section .container .table-section table tbody tr:nth-child(odd){
    background: var(--color-light-variant-2);
  }
  .item-details section .container .table-section table tbody tr:hover{
    color: var(--color-white);
  }
  .item-details section .container .table-section table tbody tr td{
    border-bottom: 1px solid var(--color-dark-variant);
    text-align: center;
    border-bottom: 1px solid var(--color-dark-variant);
  }
  .item-details section .container .table-section table tbody tr:first-child td{
    border-top: 1px solid var(--color-dark-variant);
  }
  .item-details section .container .table-section table tbody tr td svg{
    width: 2.3rem;
    height: 2.2rem;
    color: var(--color-primary);
  }
  .item-details section .container .table-section table tbody tr td svg:hover{
    width: 2.5rem;
    height: 2.4rem;
  }

  .item-details section .container .table-section2{
    margin-top: 1rem;
    width: 17%;
    height: 100%;
    overflow-y: scroll;
    box-shadow: var(--box-shadow-1);
    border-radius: var(--border-radius-2);
    background: var(--color-light);
  }
  .item-details section .container .table-section2::-webkit-scrollbar{
    display: none;
  }
  .item-details section .container .table-section2 table{
    width: 100%;
  }
  .item-details section .container .table-section2 table thead{
    position: sticky;
    top: 0;
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    color: var(--color-white);
    background: #b9750e;
    /*background: var(--color-blue-shade);*/
  }
  .item-details section .container .table-section2 table tbody{
    width: 100%;
    height: 100%;
  }
  .item-details section .container .table-section2 table tbody tr{
    width: 100%;
    height: 3rem;
    font-size: 1rem;
    color: var(--color-dark-variant);
    transition: all .1s ease;
  }
  .item-details section .container .table-section2 table tbody tr:nth-child(odd){
    background: var(--color-light-variant-2);
  }
  .item-details section .container .table-section2 table tbody tr:hover{
    color: var(--color-white);
  }
  .item-details section .container .table-section2 table tbody tr td{
    border-bottom: 1px solid var(--color-dark-variant);
    text-align: center;
    border-bottom: 1px solid var(--color-dark-variant);
  }
  .item-details section .container .table-section2 table tbody tr td::first-letter{
    text-transform: uppercase;
  }
  .item-details section .container .table-section2 table tbody tr:first-child td{
    border-top: 1px solid var(--color-dark-variant);
  }