@import url('../../global.css');

.audit-log{
    width: 80vw;
    height: 100vh;
}
.audit-log section{
    margin: 1rem 0rem 0rem 1rem;
    width: 100%;
    height: 95%;
  }
  .audit-log section .top h1{
    font-size: 1.9rem;
    color: var(--color-white);
  }
  .audit-log section .top{
    width: 95%;
    height: 10%;
    border-radius: var(--border-radius-1);
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .audit-log section .container{
    position: relative;
    width: 95%;
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
  }
  .audit-log section .container::-webkit-scrollbar{
    display: none;
  }
  .audit-log section .container .box{
    width: 100%;
  }
  .audit-log section .container .box .card{
    margin-top: 1.2rem;
    width: 95%;
    height: 4rem;
    box-shadow: var(--box-shadow-1);
    border-radius: var(--border-radius-2);
    background: var(--color-light);
    transition: all ease .5s;
    display: flex;
    align-items: center;
  }
  .audit-log section .container .box .card:nth-child(odd){
    background: var(--color-light-variant-2);
  }
  .audit-log section .container .box .card:hover{
    margin-left: 1rem;
  }
  .audit-log section .container .box .card h4{
    width: 15%;
    margin-left: 5px;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-warning);
  }
  .audit-log section .container .box .card p{
    width: 72%;
    font-weight: 400;
    font-size: 1rem;
    color: var(--color-info-light);
  }
  .audit-log section .container .box .card h5{
    width: 10%;
    margin-left: 5px;
    font-weight: 400;
    font-size: .8rem;
    color: var(--color-info-dark);
    text-transform: uppercase;
  }
  
