@import url('../global.css');

.inactive{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #02010c;
}
.inactive .content{
    border-radius: var(--border-radius-2);
    min-width: 30rem;
    height: 320px;
    background: #12102fd3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.inactive .content svg{
    margin-top: 1rem;
    width: 10rem;
    height: 10rem;
    color: var(--color-danger);
}
.inactive .content h2{
    margin-top: .5rem;
    color: var(--color-white);
}
.inactive .content span{
    margin-top: .5rem;
    text-align: center;
    width: 390px;
    height: 50px;
    color: var(--color-info-dark);
    line-height: 1.5rem;
}
.inactive .content p{
    margin-top: .5rem;
    cursor: pointer;
    color: blue;
    text-decoration: underline;
}
