@import url('../global.css');

.login{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #02010c;
}
.login .content{
    border-radius: var(--border-radius-2);
    min-width: 30rem;
    background: #12102fd3;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .content .top-section{
    width: 100%;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .content .data-section{
    width: 90%;
    color: var(--color-info-dark);
    display: flex;
    flex-direction: column;
    text-align: center;
}
.login .content .data-section #error-msg{
    font-size: 1rem;
    color: var(--color-danger);
    animation: blink-animation 1s steps(5, start) infinite;
    -webkit-animation: blink-animation 1s steps(5, start) infinite;
    transition: all ease 1s;
}
.login .content .data-section .input{
    width: 100%;
    height: 6.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.login .content .data-section .input p{
    margin-bottom: .5rem;
   color: var(--color-info-dark);
}
.login .content .data-section .input span{
    font-size: .8rem;
   color: var(--color-danger);
}
.login .content .data-section .input input[type=email],input[type=password]{
    width: 100%;
    height: 3.5rem;
    border: 1px solid var(--color-info-dark-2);
    background: none;
    text-align: start;
    color: var(--color-white);
}
.login .content .data-section .input input[type=email]::placeholder,input[type=password]::placeholder{
    color: var(--color-info-dark-2);
}
.login .content .data-section .btn{
    margin-top: .2rem;
    width: 100%;
    height: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.login .content .data-section .btn button[type=submit]{
    color: var(--color-white);
    border-radius: var(--border-radius-1);
    width: 100%;
    height: 100%;
    border: none;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    background: var(--color-primary-variant);
    display: flex;
    align-items: center;
    justify-content: center;
}
.login .content .data-section .btn button[type=submit]:hover{
    background: var(--color-primary-2);
}
.login .content .footer{
    width: 90%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.login .content .footer p{
    color: #677483ae;
}
.login .content .footer p:hover{
    color: #a0a0a0e1;
}
.login .content .footer p span{
    color: #5e2dff;
}


/** animation **/
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, #ffffff2a);
    font-size: 2rem;
    text-align: center;
  }
  .waviy span {
    font-weight: 600;
    position: relative;
    display: inline-block;
    color: #ffffff;
    text-transform: uppercase;
    animation: waviy 5000ms infinite;
    animation-delay: calc(.1s * var(--i));
    margin-left: .1rem;
    
  }
  @keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-15px)
    }
  }
/* error message blinking animation*/
  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }
  @-webkit-keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }