@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: #02010cf6;
  text-decoration: none;
  user-select: none;
}
#root{
  height: 100vh;
  display: flex;
}
a{
  text-decoration: none;
}

