:root{
    --color-primary:#7380ec;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #1a1b25;
    --color-blue-shade: #46485cdc;
    --color-light: #242531;
    --color-primary-variant: #6474ff;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --color-black: rgba(0, 0, 0, 0.581);
    --color-success-2: #13b67f;
    --color-success-2-variant: #00af75d8;
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    --color-light-variant: #282a37;
    --color-light-variant-2:#21222d;
  
    --card-padding: 1.8rem;
    --padding-1: 1.2rem;
  
    --box-shadow: 0px 2px 4px var(--color-primary);
    --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    --box-shadow-2: 0px 10px 10px -10px var(--color-primary);
  }
  .primary{
    color: var(--color-primary);
  }
  .success{
    color: var(--color-success);
  }
  .danger{
    color: var(--color-danger);
  }