@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
:root{
  --color-primary:#7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #1a1b25;
  --color-blue-shade: #46485cdc;
  --color-light: #242531;
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --color-black: rgba(0, 0, 0, 0.581);

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0px 2px 4px var(--color-primary);
  --box-shadow-1: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  --box-shadow-2: 0px 10px 10px -10px var(--color-primary);
}
.primary{
  color: var(--color-primary);
}
.success{
  color: var(--color-success);
}
.danger{
  color: var(--color-danger);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100vw;
  height: 100vh;
  font-family: poppins, sans-serif;
  font-size: 0.88rem;
  background: var(--color-dark);
  text-decoration: none;
  user-select: none;
}
#root{
  height: 100vh;
  display: flex;
}
/********************* nav bar *************************/
.nav-bar{
  width: 18vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bar .header{
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.nav-bar .header h2{
  color: var(--color-white);
}
.nav-bar .header h2 span{
  color: var(--color-danger);
}
.nav-bar .header img{
  width: 2.5rem;
  height: 2.5rem;
  object-fit: cover;
  margin-right: 0.8rem;
}

.nav-bar .side-bar{
  width: 80%;
  height: 76vh;
  display: flex;
  flex-direction: column;
  position: relative;
}
.nav-bar .side-bar .bar{
  width: 100%;
  height: 3rem;
  display: flex;
  top: 1rem;
  flex-direction: column;
  position: relative;
  transition: all ease .3s;
}
.nav-bar .side-bar .bar div{
  width: 100%;
  height: 100%;
  display: flex; 
  align-items: center;
  gap: .5rem;
  border-radius: 2px;
  color: var(--color-info-dark);
  transition: all ease .3s;
}
.nav-bar .side-bar .bar div h3{
  font-weight: 500;
  width: 50%;
  margin-left: 1rem;
}
.nav-bar .side-bar .bar div svg{
  width: 1.5rem;
  height: 1.5rem;
  transition: margin-left ease .3s;
  margin-left: 1rem;
}
.nav-bar .side-bar .bar div:hover{
  color: var(--color-primary);
}
.nav-bar .side-bar .bar div:hover svg{
  margin-left: 2rem;
}
.nav-bar .side-bar .bar div:last-child{
  position: absolute;
  width: 100%;
}
.nav-bar .logout{
  width: 80%;
  height: 8vh;
  display: flex;
  position: relative;
  color: var(--color-info-dark);
  transition: all ease .3s;
}
.nav-bar .logout svg{
  width: 1.5rem;
  height: 1.5rem;
  margin-left: 1rem;
}
.nav-bar .logout h3{
  font-weight: 500;
  width: 50%;
  margin-left: 1rem;
}
.nav-bar .logout:hover{
  color: var(--color-primary);
  margin-left: 2rem;
}
.active div{
  background: var(--color-black);
  color: var(--color-primary);
  margin-left: 1rem;
  transition: all ease .3s;
}
.active div h3{
  color: var(--color-primary);
}
.active div svg{
  color: var(--color-primary);
}
.active div:before{
  content: '';
  width: 6px;
  height: 100%;
  background: var(--color-primary);
}
/********************* navbar style end **************************/

/********************* Dashboard style  **************************/
.main{
  width: 80vw;
  height: 100vh;
  
}
.main section{
  margin: 1rem 0rem 0rem 1rem;
  width: 78vw;
  height: 96vh;
  display: flex;
}
.main section .container-1{
  width: 55vw;
  height: 100%;
}
.main section .container-1 h1{
  font-size: 1.9rem;
  color: var(--color-white);
}
.main section .container-1 .date{
  margin-top: 1rem;
  width: 10rem;
  height: 2rem;
  border-radius: var(--border-radius-1);
  background: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main section .container-1 .date input[type=date]{
  color: var(--color-info-light);
  border: none;
  background: transparent;
}
.main section .container-1 .card-section{ 
  width: 100%;
  height: 27vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main section .container-1 .card-section .card-1,.card-2,.card-3{
  width: 30%;
  height: 150px;
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-2);
  background: var(--color-light);
  transition: all .3s ease;
}
.main section .container-1 .card-section .card-1:hover,.card-2:hover,.card-3:hover{
  width: 31%;
  height: 155px;
  box-shadow: var(--box-shadow-2);
}
.main section .container-1 .card-section .card-1 .top{
  margin: .8rem 0rem 0rem .8rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main section .container-1 .card-section .card-1 .top svg{
  width: 1.5rem;
  height: 1.5rem;
}
.container-1 .card-section .card-1 .mid{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-info-light);
}
.container-1 .card-section .card-1 .mid p{
  margin: .3rem 0rem 0rem .8rem;
  font-size: 1rem;
}
.container-1 .card-section .card-1 .mid h2{
  margin: .3rem 0rem 0rem .8rem;
}
.container-1 .card-section .card-1 .mid .circle{
  width: 50%;
  height: 6rem;
  display: grid;
  place-items: center;
  margin-right: 1rem;
}
.container-1 .card-section .card-1 .mid .circle .circular-progress{
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.container-1 .card-section .card-1 .mid .circle .circular-progress:before{
  content: "";
  position: absolute;
  height: 72%;
  width: 72%;
  background: var(--color-light);
  border-radius: 50%;
}
.container-1 .card-section .card-1 .mid .circle .circular-progress div{
  position: relative;
  font-size: 1rem;
  color: var(--color-info-light);
}


.main section .container-1 .card-section .card-2 .top{
  margin: .8rem 0rem 0rem .8rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: var(--color-success);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main section .container-1 .card-section .card-2 .top svg{
  width: 1.5rem;
  height: 1.5rem;
}
.container-1 .card-section .card-2 .mid{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-info-light);
}
.container-1 .card-section .card-2 .mid p{
  margin: .3rem 0rem 0rem .8rem;
  font-size: 1rem;
}
.container-1 .card-section .card-2 .mid h2{
  margin: .3rem 0rem 0rem .8rem;
}
.container-1 .card-section .card-2 .mid .circle{
  width: 50%;
  height: 6rem;
  display: grid;
  place-items: center;
  margin-right: 1rem;
}
.container-1 .card-section .card-2 .mid .circle .circular-progress{
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.container-1 .card-section .card-2 .mid .circle .circular-progress:before{
  content: "";
  position: absolute;
  height: 72%;
  width: 72%;
  background: var(--color-light);
  border-radius: 50%;
}
.container-1 .card-section .card-2 .mid .circle .circular-progress div{
  position: relative;
  font-size: 1rem;
  color: var(--color-info-light);
}


.main section .container-1 .card-section .card-3 .top{
  margin: .8rem 0rem 0rem .8rem;
  width: 2.2rem;
  height: 2.2rem;
  border-radius: 50%;
  background: var(--color-danger);
  display: flex;
  align-items: center;
  justify-content: center;
}
.main section .container-1 .card-section .card-3 .top svg{
  width: 1.5rem;
  height: 1.5rem;
}
.container-1 .card-section .card-3 .mid{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-info-light);
}
.container-1 .card-section .card-3 .mid p{
  margin: .3rem 0rem 0rem .8rem;
  font-size: 1rem;
}
.container-1 .card-section .card-3 .mid h2{
  margin: .3rem 0rem 0rem .8rem;
}
.container-1 .card-section .card-3 .mid .circle{
  width: 50%;
  height: 6rem;
  display: grid;
  place-items: center;
  margin-right: 1rem;
}
.container-1 .card-section .card-3 .mid .circle .circular-progress{
  position: relative;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  display: grid;
  place-items: center;
}
.container-1 .card-section .card-3 .mid .circle .circular-progress:before{
  content: "";
  position: absolute;
  height: 72%;
  width: 72%;
  background: var(--color-light);
  border-radius: 50%;
}
.container-1 .card-section .card-3 .mid .circle .circular-progress div{
  position: relative;
  font-size: 1rem;
  color: var(--color-info-light);
}

/** dashboard recent activities section **/
.main section .container-1 .table-container{
  width: 100%;
  height: 55vh;
}
.main section .container-1 .table-container h2{
  color: var(--color-info-light);
}
.main section .container-1 .table-container .table-section{
  margin-top: .5rem;
  width: 100%;
  height: 50vh;
  box-shadow: var(--box-shadow-1);
  border-radius: var(--border-radius-2);
  background: var(--color-light);
  overflow-y: scroll;
  transition: all .3s ease;
}
.main section .container-1 .table-container .table-section::-webkit-scrollbar{ /* remove scrollbar */
  display: none;
}
.main section .container-1 .table-container .table-section:hover{
  box-shadow: none;
}
.container-1 .table-container .table-section table{
  padding: var(--card-padding);
  text-align: center;
  width: 100%;
  color: var(--color-info-light);
}
.container-1 .table-container .table-section table tbody td{
  height: 3rem;
  border-bottom: 1px solid var(--color-dark-variant);
  color: var(--color-dark-variant);
}
.container-1 .table-container .table-section table tbody tr:hover td{
  color: var(--color-info-light);
}
.container-1 .table-container .table-section table tbody tr:last-child td{
  border-bottom: none;
}
.container-1 .table-container .table-section table tbody tr td.primary{
  color: var(--color-primary);
}
.container-1 .table-container .table-section table tbody tr td.success{
  color: var(--color-success);
}
.container-1 .table-container .table-section table tbody tr td.danger{
  color: var(--color-danger);
}

/** dashboard recent activities section end **/

/** dashboard container-2 section  **/
.main section .container-2{
  width: 50vh;
  height: 100%;
  
}
.main section .container-2 .top{
  width: 100%;
  height: 5rem;
  display: flex;
  justify-content: flex-end;
}
.main section .container-2 .top .text{
  margin-right: 1rem;
  color: var(--color-white);
}
.main section .container-2 .top .icon{
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background: var(--color-black);
  display: flex;
  align-items: center;
  justify-content: center;
}.main section .container-2 .top .icon svg{
  width: 1.5rem;
  height: 1.5rem;
  color: var(--color-info-light);
}
/** dashboard container-2 section  end **/

/********************* Dashboard style end **************************/
